@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  width: auto !important;
  padding: 1rem !important;
}

Form Button {
  width: 100%;
}

h2 {
  color: #313131;
  font-weight: 800;
}

.lobby .form-group{
  margin-top: 3rem !important;
}

.lobby .form-group .form-control{
  margin: 1rem 0 !important;
}

.btnJoin{
  margin-top: 1rem;
  border-radius: 40rem !important;
  background-color: #8849ef !important;
  border-color: #8849ef !important;
}

.btnJoin:focus{
  box-shadow: 0 0 0 0.25rem rgb(208 182 251) !important;
}

.app {
  margin: auto;
  padding-top: 40px;
  width: 950px;
  text-align: center;
}

.lobby {
  width: 400px;
  margin: auto;
}

.chat {
  display: grid;
}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.leave-room button{
  font-size: 1rem;
  font-weight: 500;
}

.user-list {
  float: left;
  background-color: #313131;
  color:white;
  width: 200px;
  height: 440px;
  margin-right: 4px;
}

.message-container {
  border: 1px solid black;   
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 20rem;
  padding: 1rem;
}

.user-message {
  text-align: right;
  padding-right: 0.2rem;
  font-size: 1rem;
}

.message {
  display: inline-flex;
  width: auto !important;
  max-width: 50% !important;
  padding: 0.35rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 3px;
}

.message.message-sent{
  background-color: #8849ef;
  color:white;
}

.message.message-received{
  background-color: #f0e9fc;
  color: #313131;
}

.message.message-admin{
  background-color: #51dbb2;
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
}

.message.message-admin.user-left{
  background-color: #fa6e7c;
}

.user-message{
  text-align: center;
}

.from-user{
  color: #939393;
}

.from-user-received {
  font-size: 0.9rem;
  padding-left: 1.3rem !important;
  margin-bottom: 3px;
  margin-right: 5px;
  text-align: start;
}

.from-user-sent {
  font-size: 0.9rem;
  padding-right: 1.3rem !important;
  margin-bottom: 3px;
  margin-right: 5px;
  text-align: end;
}

.from-user-admin {
  font-size: 0.9rem;
  padding-right: 1.3rem !important;
  margin-bottom: 3px;
  margin-right: 5px;
  text-align: end;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #646464 !important;
  outline: 0;
  box-shadow: none !important;
}

.btnSend{
  background-color: #8849ef !important;
  border-color: #8849ef !important;
}

.btnSend:focus{
  box-shadow: 0 0 0 0.25rem rgb(208 182 251) !important;
}

@media (max-height: 1000px ) {
  .message-container {
    min-height: 25rem;

  }
  
  .message {
    max-width: 90% !important;
  }
}